<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">分组管理</h4>
</div>
<div class="modal-body">
    <table id="paramTable" class="table table-striped">
        <thead>
        <tr>
            <th>分组名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for group in group_list %}
            <tr>
                <td>
                    <input type="text" class="form-control" name="groupName" value="{{ group.groupName }}" placeholder="分组名称">
                </td>
                <td>
                    <button title="提交" type="button" class="btn btn-default btn-sm" onclick="updateGroup(this, {{ group.id }})">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button title="删除" type="button" class="btn btn-default btn-sm" onclick="delGroup(this, {{ group.id }})">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>