<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="title" content="iTest接口管理系统">
    <meta name="description" content="iTest接口管理系统">
    <meta name="keywords" content="iTest接口管理系统">

    <!-- Le styles -->
    <link href="/static/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/js/select2/css/select2.min.css" rel="stylesheet">
    <link href="/static/js/formValidation/css/formValidation.min.css" rel="stylesheet">

     <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="http://www.runoob.com/favicon.ico">

    <script type="text/javascript" src="/static/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/select2/js/select2.min.js"></script>
    <script type="text/javascript" src="/static/js/suggest/bootstrap-suggest.min.js"></script>
    <script type="text/javascript" src="/static/js/formValidation/js/formValidation.min.js"></script>
    <script type="text/javascript" src="/static/js/formValidation/js/framework/bootstrap.js"></script>
    <style>
        .test-header-key{color: #9e9e9e;}
        .test-httpHeader-content {
            height: 30px;
            line-height: 30px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            color: #fff;
            margin: 10px 0;
            text-indent: 10px;
            font-size: 16px;
        }
        .test-httpHeader-content .time {
            font-size: 12px;
            color: #fff;
            margin-right: 10px;
        }
        .back-result-content{
            width: calc(100% - 2px);
            margin-top: 10px;
        }
        .test-error{background-color: #d32f2f;}
        .test-success{background-color: #4caf50;}

        .dropdown-menu .strong-li {
            font-weight: 700;
            color: #43a047;
        }
    </style>

</head>
<body>
{% include 'header.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% include 'sidebar.html' %}
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="container-fluid navbar-default" style="padding-left: 0; margin-bottom: 10px;">
                <div class="navbar-header form-inline">
                    <form action="/api_list/" method="post">
                        <button type="button" class="btn btn-success" onclick="to_add_api()">+ 添加接口</button>
                        <select class="form-control" name="projectId">
                            <option value="">选择项目</option>
                            {% for project in project_list %}
                                <option value="{{ project.id }}" {% ifequal project_id project.id %}selected{% endifequal %}>{{ project.projectName }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" class="form-control" name="q" value="{{ q }}" placeholder="搜索接口">
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                </div>

                <div class="nav navbar-nav navbar-right">
                    <div class="dropdown" style="display: inline-block">
                        <button type="button" class="btn dropdown-toggle btn-default" id="dropdownMenu1" data-toggle="dropdown">排序方式
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation" >
                                <a role="menuitem" class="strong-li" tabindex="-1" href="#">创建时间[升序]</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">更新时间[升序]</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">接口名称[升序]</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="table-responsive">
                <table id="paramTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>接口名称 [{{ total_count }}]</th>
                        <th>接口URI</th>
                        <th>请求方式</th>
                        <th>最近更新者</th>
                        <th>更新日期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for api in api_list %}
                        <tr>
                            <td>{{ api.apiName }}</td>
                            <td>{{ api.apiURI }}</td>
                            <td><span class="label label-success">{{ api.apiMethod }}</span></td>
                            <td>{{ api.updateUser.userName }}</td>
                            <td>{{ api.updateTime|date:"Y-m-d H:i:s" }}</td>
                            <td>
                                <button title="详情" type="button" class="btn btn-default btn-sm" onclick="to_api_detail({{ api.id }})">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </button>
                                <button title="修改" type="button" class="btn btn-default btn-sm" onclick="to_edit_api({{ api.id }})">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button title="删除" type="button" class="btn btn-default btn-sm" onclick="delApi(this, {{ api.id }})">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!--模板-->
<table style="display: none">
    <tbody id="headerTrTemplate">
    <tr>
        <td>
            <div class="input-group">
                <input type="text" class="form-control" name="headerLabel" placeholder="头部标签">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                </div>
            </div>
        </td>
        <td>
            <input type="text" class="form-control" name="header_value" onkeyup="changeHeaderValue(this)"
                   placeholder="头部内容">
        </td>
        <td style="display: none">
            <button type="button" class="btn btn-default btn-sm" onclick="delParamTableTr(this)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>
<table style="display: none">
    <tbody id="paramTrTemplate">
    <tr>
        <td>
            <input type="text" class="form-control" name="param_name" placeholder="参数名">
        </td>
        <td>
            <input type="text" class="form-control" name="param_value" onkeyup="changeParamValue(this)"
                   placeholder="参数值">
        </td>
        <td style="display: none">
            <button type="button" class="btn btn-default btn-sm" onclick="delParamTableTr(this)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<script type="text/javascript">
    function delApi(dom, apiId) {
        if (confirm('确定删除该API吗？')) {
            $.post('/del_api/', {apiId: apiId}, function (json) {
                $(dom).parent().parent().remove();
            });
        }
    }
    function to_add_api() {
        window.location.href = '/add_api/';
    }
    function to_api_detail(apiId) {
        window.location.href = '/api_detail/?apiId='+apiId;
    }
    function to_edit_api(apiId) {
        window.location.href = '/edit_api/?apiId='+apiId;
    }
    function changeHeaderValue(dom) {
        var nextTr = $(dom).parent().parent().next();
        if($(dom).val() !== '' && nextTr.html() == null){
            $(dom).parent().parent().find('td:last').show();
            $(dom).parent().parent().parent().append($('#headerTrTemplate').html());

            $(dom).parent().parent().parent().find('input[name=headerLabel]').bsSuggest(headerLabelData);
        }
    }
    function changeParamValue(dom) {
        var nextTr = $(dom).parent().parent().next();
        if($(dom).val() !== '' && nextTr.html() == null){
            $(dom).parent().parent().find('td:last').show();
            $(dom).parent().parent().parent().append($('#paramTrTemplate').html());
        }
    }

    function add_api() {
        window.location.href = '/add_api'
    }

    function delParamTableTr(dom) {
        $(dom).parent().parent().remove();
    }

    function send_request() {
        var $form = $("#defaultForm");
        var bv = $form.data('formValidation');
        bv.validate();
        if(!bv.isValid()){
            return false;
        }

        var data = {};
        data['protocol'] = $('#protocol').val();
        data['method'] = $('#method').val();
        data['name'] = $('#name').val();
        data['uri'] = $('#uri').val();

        var headers = {};
        $('#headerTable').find('tbody tr').each(function(i,dom){
            var label = $(dom).find('input[name="headerLabel"]').val();
            var value = $(dom).find('input[name="header_value"]').val();
            if (label != null && label !== ''){
                headers[label] = value;
            }
        });
        data['headers'] = JSON.stringify(headers);

        //请求参数
        if($('#formBut').hasClass('btn-success')){
            var params = {};
            $('#paramTable').find('tbody tr').each(function(i,dom){
                var name = $(dom).find('input[name="param_name"]').val();
                var value = $(dom).find('input[name="param_value"]').val();
                if (name != null && name !== ''){
                    params[name] = value;
                }
            });
            data['params'] = JSON.stringify(params);
            data['requestType'] = 'formData';
        }else{
            data['params'] = $('#raw').val();
            data['requestType'] = 'raw';
        }

        $.post('/send_request/', data, function (json) {
            $('#httpCode').html(json.httpCode);
            $('#takeTime').html('time：'+json.takeTime+'ms');
            if (json.httpCode == 200) {
                $('#httpCode').parent().removeClass('test-error').addClass('test-success');
            }else{
                $('#httpCode').parent().removeClass('test-success').addClass('test-error');
            }
            $('#response_body').html(json.body);
            $('#httpCode').parent().show();

            var html = '';
            for (var key in json.headers){
                html += '<span class="test-header-key">'+key + '</span>: ' + json.headers[key] + '<br/>';
            }
            $('#response_header').html(html);
        });
    }

    function save_api() {
        var $form = $("#defaultForm");
        var bv = $form.data('formValidation');
        bv.validate();
        if(!bv.isValid()){
            return false;
        }

        var data = {};
        data['protocol'] = $('#protocol').val();
        data['method'] = $('#method').val();
        data['name'] = $('#name').val();
        data['uri'] = $('#uri').val();

        var headers = {};
        $('#headerTable').find('tbody tr').each(function(i,dom){
            var label = $(dom).find('input[name="headerLabel"]').val();
            var value = $(dom).find('input[name="header_value"]').val();
            if (label != null && label !== ''){
                headers[label] = value;
            }
        });
        data['headers'] = JSON.stringify(headers);

        //请求参数
        if($('#formBut').hasClass('btn-success')){
            var params = {};
            $('#paramTable').find('tbody tr').each(function(i,dom){
                var name = $(dom).find('input[name="param_name"]').val();
                var value = $(dom).find('input[name="param_value"]').val();
                if (name != null && name !== ''){
                    params[name] = value;
                }
            });
            data['params'] = JSON.stringify(params);
            data['requestType'] = 'formData';
        }else{
            data['params'] = $('#raw').val();
            data['requestType'] = 'raw';
        }

        $.post('/save_api/', data, function (json) {
            if(json.success){
                alert('保存成功');
            }else{
                alert('保存失败');
            }
        });
    }



    $(document).ready(function () {

        $('input[name=headerLabel]').bsSuggest(headerLabelData);

        $('#defaultForm').formValidation({
            //err: {
            //    container: 'tooltip'
            //},
            trigger: 'blur',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                uri: {
                    validators: {
                        notEmpty: {
                            message: '请填写此字段'
                        }
                    }
                }
            }
        });


    });

    var headerLabelData = {
            indexId: 0,
            indexKey: 0,
            //showBtn: false,
            allowNoKeyword: false,
            inputWarnColor: null,
            ignorecase: true,
            data: {
                'value': [
                    {'v': 'Accept'},
                    {'v': 'Accept-Charset'},
                    {'v': 'Accept-Encoding'},
                    {'v': 'Accept-Language'},
                    {'v': 'Accept-Ranges'},
                    {'v': 'Authorization'},
                    {'v': 'Cache-Control'},
                    {'v': 'Connection'},
                    {'v': 'Cookie'},
                    {'v': 'Content-Length'},
                    {'v': 'Content-Type'},
                    {'v': 'Content-MD5'},
                    {'v': 'Date'},
                    {'v': 'Expect'},
                    {'v': 'From'},
                    {'v': 'Host'},
                    {'v': 'If-Match'},
                    {'v': 'If-Modified-Since'},
                    {'v': 'If-None-Match'},
                    {'v': 'If-Range'},
                    {'v': 'If-Unmodified-Since'},
                    {'v': 'Max-Forwards'},
                    {'v': 'Origin'},
                    {'v': 'Pragma'},
                    {'v': 'Proxy-Authorization'},
                    {'v': 'Range'},
                    {'v': 'Referer'},
                    {'v': 'TE'},
                    {'v': 'Upgrade'},
                    {'v': 'User-Agent'},
                    {'v': 'Via'},
                    {'v': 'Warning'}
                ]
            }
        };

</script>
</body>
</html>
