<!DOCTYPE html>
<html>
<head>
    {% include 'common.html' %}
</head>
<body>
{% include 'header.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% include 'sidebar.html' %}
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="container-fluid" style="padding-left: 0; margin-bottom: 10px;">
                <div class="navbar-header">
                    <button type="button" class="btn btn-default" onclick="to_api_list()">&lt; 接口列表</button>
                    &nbsp;&nbsp;
                    <div class="btn-group">
                        <button type="button" class="btn btn-success">详情</button>
                        <button type="button" class="btn btn-default" onclick="to_api_test({{ api.id }})">测试</button>
                    </div>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-default" onclick="to_edit_api({{ api.id }})">修改</button>
                </div>
                <div class="nav navbar-nav navbar-right">
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row clearfix">
                        <div class="col-md-10 column">
                            <div style="font-weight: bold">{{ api.project.projectName }}&nbsp;</div>
                            <div>
                                <span class="label label-success">{{ api.apiProtocol }}</span>
                                {{ api.apiURI }}
                            </div>
                            <div>
                                <span class="label label-primary">{{ api.apiMethod }}</span>
                                {{ api.apiName }}
                            </div>
                        </div>
                        <div class="col-md-2 column" style="text-align: right">
                            <div>&nbsp;</div>
                            <div>&nbsp;{{ api.updateUser.userName }}</div>
                            <div>{{ api.updateTime|date:"Y-m-d H:i:s" }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">请求头部</div>
                <div class="panel-body">
                    <table id="headerTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>标签</th>
                            <th>内容</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for header in header_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ header.headerName }}</td>
                                <td>{{ header.headerValue }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">请求参数</div>
                <div class="panel-body">
                    {% ifequal api.apiRequestParamType 'formData' %}
                        <table id="headerTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>标签</th>
                                <th>内容</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for request_param in request_param_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ request_param.paramName }}</td>
                                    <td>{{ request_param.paramValue }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        {{ api.apiRequestRaw }}
                    {% endifequal %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">返回示例</div>
                <div class="panel-body">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#panel-success" data-toggle="tab">成功结果</a>
                            </li>
                            <li>
                                <a href="#panel-failure" data-toggle="tab">失败结果</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="panel-success">
                                <div class="input-group" style="margin-top: 10px">
                                    <span class="input-group-addon">Mock URL:</span>
                                    <input type="text" id="success_mock_url" class="form-control" value="{{ success_mock_url }}" style="background-color: #ffffff" readonly="readonly">
                                    <span class="input-group-addon"><a href="javascript:" onclick="jsCopy(this,'success_mock_url')">点击复制</a></span>
                                </div>

                                <pre style="margin-top: 10px">{{ api.apiSuccessMock }}</pre>
                            </div>
                            <div class="tab-pane" id="panel-failure">
                                <div class="input-group" style="margin-top: 10px">
                                    <span class="input-group-addon">Mock URL:</span>
                                    <input type="text" id="failure_mock_url" class="form-control" value="{{ failure_mock_url }}" style="background-color: #ffffff" readonly="readonly">
                                    <span class="input-group-addon"><a href="javascript:" onclick="jsCopy(this,'failure_mock_url')">点击复制</a></span>
                                </div>
                                <pre style="margin-top: 10px">{{ api.apiFailureMock }}</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    function to_api_list() {
        window.location.href = '/api_list/'
    }
    function to_api_test(apiId) {
        window.location.href = '/api_test/?apiId='+apiId;
    }
    function to_edit_api(apiId) {
        window.location.href = '/edit_api/?apiId='+apiId;
    }

    function jsCopy(dom, id) {
        var e = document.getElementById(id);
        e.select();
        tag = document.execCommand("Copy"); //执行浏览器复制命令
        if (tag) {
            $(dom).addClass('copy-success').html('复制成功');
        }
    }

    $(document).ready(function () {

    });
</script>
</body>
</html>
