<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">绑定参数值</h4>
</div>
<div class="modal-body">
    <div class="row" style="height:300px;overflow:auto; ">
		<div class="col-md-3 column">
            <ul class="list-group" style="margin-top: 10px">
                {% for item in item_list %}
                    <a href="javascript:;" onclick="showParams(this,{{ item.id }})" class="list-group-item {% if forloop.counter == 1 %}active{% endif %}">{{ item.apiName }}</a>
                {% endfor %}
            </ul>
		</div>
		<div class="col-md-9 column" id="paramListDiv">
        {% for item in item_list %}
            <ul class="list-group" style="margin-top: 10px; {% if forloop.counter > 1 %}display: none{% endif %}" id="params{{ item.id }}">
                {% for rule in item.matchRule %}
                    <a class="list-group-item" href="javascript:;" onclick="selectedParam({{ index }},{{ forloop.counter }},{{ item.id }},'{{ rule.paramKey }}')">{{ rule.paramKey }}</a>
                {% endfor %}
            </ul>
        {% endfor %}
		</div>
	</div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>