<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="title" content="iTest接口管理系统">
    <meta name="description" content="iTest接口管理系统">
    <meta name="keywords" content="iTest接口管理系统">

    <!-- Le styles -->
    <link href="/static/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/js/select2/css/select2.min.css" rel="stylesheet">
    <link href="/static/js/formValidation/css/formValidation.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="http://www.runoob.com/favicon.ico">

    <script type="text/javascript" src="/static/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/select2/js/select2.min.js"></script>
    <script type="text/javascript" src="/static/js/suggest/bootstrap-suggest.min.js"></script>
    <script type="text/javascript" src="/static/js/formValidation/js/formValidation.min.js"></script>
    <script type="text/javascript" src="/static/js/formValidation/js/framework/bootstrap.js"></script>
    <style>
        .test-header-key {
            color: #9e9e9e;
        }

        .test-httpHeader-content {
            height: 30px;
            line-height: 30px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            color: #fff;
            margin: 10px 0;
            text-indent: 10px;
            font-size: 16px;
        }

        .test-httpHeader-content .time {
            font-size: 12px;
            color: #fff;
            margin-right: 10px;
        }

        .back-result-content {
            width: calc(100% - 2px);
            margin-top: 10px;
        }

        .test-error {
            background-color: #d32f2f;
        }

        .test-success {
            background-color: #4caf50;
        }

        .dropdown-menu .strong-li {
            font-weight: 700;
            color: #43a047;
        }
    </style>

</head>
<body>
{% include 'header.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% include 'sidebar.html' %}
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="row">
                <div class="col-sm-3 col-md-2">
                    <button type="button" class="btn btn-success" onclick="openGroupModal()">+ 新建分组</button>

                    <ul class="list-group" style="margin-top: 10px">
                        <li class="list-group-item">
                            <b>分组</b>
                            <a class="badge">管理</a>
                        </li>
                        <a href="/case_list/" class="list-group-item {% if not group_id %}active{% endif %}">所有用例{{ group_id }}</a>
                        {% for group in group_list %}
                            <a href="/case_list/?group_id={{ group.id }}" class="list-group-item {% ifequal group_id group.id %}active{% endifequal %}">{{ group.groupName }}</a>
                        {% endfor %}
                    </ul>

                </div>

                <div class="col-sm-9 col-md-10">
                    <div class="container-fluid navbar-default" style="padding-left: 0; margin-bottom: 10px;">
                        <div class="navbar-header form-inline">
                            <form action="/case_list/?group_id={{ group_id }}" method="post">
                                <button type="button" class="btn btn-success" onclick="openCaseModal()">+ 添加用例</button>
                                <input type="text" class="form-control" name="q" value="{{ q }}" placeholder="搜索用例">
                                <button type="submit" class="btn btn-default">搜索</button>
                            </form>
                        </div>
                        <div class="nav navbar-nav navbar-right"></div>
                    </div>

                    <div class="table-responsive">
                        <table id="paramTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th>用例名称</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for case in case_list %}
                                <tr>
                                    <td>{{ case.caseName }}</td>
                                    <td>{{ case.updateTime|date:"Y-m-d H:i:s" }}</td>
                                    <td>
                                        <button title="详情" type="button" class="btn btn-default btn-sm"
                                                onclick="to_case_detail({{ case.id }})">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </button>
                                        <button title="修改" type="button" class="btn btn-default btn-sm"
                                                onclick="openCaseModal({{ case.id }}, {{ case.group.id }}, '{{ case.caseName }}')">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </button>
                                        <button title="删除" type="button" class="btn btn-default btn-sm"
                                                onclick="delCase(this, {{ case.id }})">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新增分组</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="groupForm">
                    <input type="hidden" id="projectId" name="projectId">
                    <div class="form-group">
                        <label for="groupName" class="col-sm-2 control-label">分组名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="groupName" name="groupName" placeholder="1~32位字符串" maxlength="32">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="save_group()">提交</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="caseModal" tabindex="-1" role="dialog" aria-labelledby="caseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="caseModalLabel">新增用例</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="caseForm">
                    <input type="hidden" id="caseId" name="caseId">
                    <div class="form-group">
                        <label for="caseGroupId" class="col-sm-2 control-label">分组</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="caseGroupId">
                                {% for group in group_list %}
                                    <option value="{{ group.id }}">{{ group.groupName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="caseName" class="col-sm-2 control-label">用例名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="caseName" name="caseName" placeholder="1~32位字符串" maxlength="32">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="save_case()">提交</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function delCase(dom, id) {
        if (!confirm('确定删除该用例吗？')) {
            return false;
        }
        $.post('/del_case/', {id: id}, function (json) {
            if (json.code === '0000') {
                window.location.href = '/case_list/?group_id={{ group_id }}';
            } else {
                alert(json.msg);
            }
        });
    }

    function openGroupModal(id, name, version) {
        $('#groupForm')[0].reset();
        //修改
        if(id){
            $('#myModalLabel').html('修改项目');
            $('#projectId').val(id);
            $('#projectName').val(name);
            $('#projectVersion').val(version);

        }else{
            $('#myModalLabel').html('新增分组');
        }
        $('#groupModal').modal('show');
    }
    function openCaseModal(id, groupId, name) {
        $('#caseForm')[0].reset();
        //修改
        if(id){
            $('#caseModalLabel').html('修改用例');
            $('#caseId').val(id);
            $('#caseGroupId').val(groupId);
            $('#caseName').val(name);
        }else{
            $('#caseModalLabel').html('新增用例');
        }
        $('#caseModal').modal('show');
    }

    function save_group() {
        var $form = $("#groupForm");
        var bv = $form.data('formValidation');
        bv.validate();
        if(!bv.isValid()){
            return false;
        }

        var data = {};
        if($('#projectId').val() !== ''){
            data['id'] = $('#projectId').val();
        }
        data['groupName'] = $('#groupName').val();
        $.post('/save_group/', data, function (json) {
            if(json.code === '0000'){
                alert('保存成功');
                $('#groupModal').modal('hide');
                window.location.href = '/case_list/';
            }else{
                alert(json.msg);
            }
        });
    }
    function save_case() {
        var $form = $("#caseForm");
        var bv = $form.data('formValidation');
        bv.validate();
        if(!bv.isValid()){
            return false;
        }

        var data = {};
        if($('#caseId').val() !== ''){
            data['id'] = $('#caseId').val();
        }
        var caseGroupId = $('#caseGroupId').val();
        data['caseGroupId'] = caseGroupId;
        data['caseName'] = $('#caseName').val();
        $.post('/save_case/', data, function (json) {
            if(json.code === '0000'){
                alert('保存成功');
                $('#caseModal').modal('hide');
                window.location.href = '/case_list/?group_id='+caseGroupId;
            }else{
                alert(json.msg);
            }
        });
    }

    function to_case_detail(id) {
        window.location.href = '/case_detail/?id=' + id;
    }

    function to_edit_api(apiId) {
        window.location.href = '/edit_api/?apiId=' + apiId;
    }


    function add_api() {
        window.location.href = '/add_api'
    }

    function delParamTableTr(dom) {
        $(dom).parent().parent().remove();
    }



    $(document).ready(function () {
        activeMenu('/case_list');

        $('input[name=headerLabel]').bsSuggest(headerLabelData);

        $('#groupForm').formValidation({
            //err: {
            //    container: 'tooltip'
            //},
            trigger: 'blur',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                groupName: {
                    validators: {
                        notEmpty: {
                            message: '请填写此字段'
                        }
                    }
                }
            }
        });
        $('#caseForm').formValidation({
            //err: {
            //    container: 'tooltip'
            //},
            trigger: 'blur',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                caseName: {
                    validators: {
                        notEmpty: {
                            message: '请填写此字段'
                        }
                    }
                }
            }
        });


    });

    var headerLabelData = {
        indexId: 0,
        indexKey: 0,
        //showBtn: false,
        allowNoKeyword: false,
        inputWarnColor: null,
        ignorecase: true,
        data: {
            'value': [
                {'v': 'Accept'},
                {'v': 'Accept-Charset'},
                {'v': 'Accept-Encoding'},
                {'v': 'Accept-Language'},
                {'v': 'Accept-Ranges'},
                {'v': 'Authorization'},
                {'v': 'Cache-Control'},
                {'v': 'Connection'},
                {'v': 'Cookie'},
                {'v': 'Content-Length'},
                {'v': 'Content-Type'},
                {'v': 'Content-MD5'},
                {'v': 'Date'},
                {'v': 'Expect'},
                {'v': 'From'},
                {'v': 'Host'},
                {'v': 'If-Match'},
                {'v': 'If-Modified-Since'},
                {'v': 'If-None-Match'},
                {'v': 'If-Range'},
                {'v': 'If-Unmodified-Since'},
                {'v': 'Max-Forwards'},
                {'v': 'Origin'},
                {'v': 'Pragma'},
                {'v': 'Proxy-Authorization'},
                {'v': 'Range'},
                {'v': 'Referer'},
                {'v': 'TE'},
                {'v': 'Upgrade'},
                {'v': 'User-Agent'},
                {'v': 'Via'},
                {'v': 'Warning'}
            ]
        }
    };

</script>
</body>
</html>
