<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<meta name="title" content="iTest接口管理系统">
<meta name="description" content="iTest接口管理系统">
<meta name="keywords" content="iTest接口管理系统">
<!-- js plugin css -->
<link href="/static/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/js/select2/css/select2.min.css" rel="stylesheet">
<link href="/static/js/formValidation/css/formValidation.min.css" rel="stylesheet">
<!-- custom style -->
<link href="/static/css/main.css" rel="stylesheet">
<!-- Fav and touch icons -->
<link rel="shortcut icon" href="http://www.runoob.com/favicon.ico">
<!-- js plugin -->
<script type="text/javascript" src="/static/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/select2/js/select2.min.js"></script>
<script type="text/javascript" src="/static/js/suggest/bootstrap-suggest.min.js"></script>
<script type="text/javascript" src="/static/js/formValidation/js/formValidation.min.js"></script>
<script type="text/javascript" src="/static/js/formValidation/js/framework/bootstrap.js"></script>