<!DOCTYPE html>
<html>
<head>
    {% include 'common.html' %}
    <style>
        .test-header-key{color: #9e9e9e;}
        .test-httpHeader-content {
            height: 30px;
            line-height: 30px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            color: #fff;
            margin: 10px 0;
            text-indent: 10px;
            font-size: 16px;
        }
        .test-httpHeader-content .time {
            font-size: 12px;
            color: #fff;
            margin-right: 10px;
        }
        .back-result-content{
            width: calc(100% - 2px);
            margin-top: 10px;
        }
        .test-error{background-color: #d32f2f;}
        .test-success{background-color: #4caf50;}
    </style>

</head>
<body>
{% include 'header.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% include 'sidebar.html' %}
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="container-fluid" style="padding-left: 0; margin-bottom: 10px;">
                <div class="navbar-header">
                    <button type="button" class="btn btn-default" onclick="to_case_detail({{ caseId }})">&lt; 返回列表</button>
                </div>
                <div class="nav navbar-nav navbar-right">
                    <button type="button" class="btn btn-success" onclick="save_case_item()">保存</button>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="defaultForm" class="form-horizontal" role="form">
                        <input type="hidden" id="itemId" value="{{ case_item.id }}">
                        <div class="form-group">
                            <label for="apiName" class="col-sm-2 control-label">接口名称：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="apiName" name="apiName" value="{{ case_item.apiName }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="apiUri" class="col-sm-2 control-label">请求地址：</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="apiMethod" onchange="changeMethod(this)">
                                    <option value="POST" {% ifequal case_item.apiMethod 'POST' %}selected="selected"{% endifequal %}>POST</option>
                                    <option value="GET" {% ifequal case_item.apiMethod 'GET' %}selected="selected"{% endifequal %}>GET</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control" id="protocol">
                                    <option value="HTTP" {% ifequal case_item.apiProtocol 'HTTP' %}selected="selected"{% endifequal %}>HTTP</option>
                                    <option value="HTTPS" {% ifequal case_item.apiProtocol 'HTTPS' %}selected="selected"{% endifequal %}>HTTPS</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="apiUri" name="apiUri" value="{{ case_item.apiUri }}" placeholder="测试地址">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">请求头部</div>
                <div class="panel-body">
                    <table id="headerTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>标签</th>
                            <th>内容</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for header in header_list %}
                        <tr>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="headerLabel" value="{{ header.headerName }}" placeholder="头部标签">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="header_value" value="{{ header.headerValue }}" onkeyup="changeHeaderValue(this)" placeholder="头部内容">
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm" onclick="delParamTableTr(this)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}

                        <tr>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="headerLabel" placeholder="头部标签">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="header_value" onkeyup="changeHeaderValue(this)" placeholder="头部内容">
                            </td>
                            <td style="display: none">
                                <button type="button" class="btn btn-default btn-sm" onclick="delParamTableTr(this)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">请求参数</div>
                <div class="panel-body">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" onclick="selectRequestParamTab(this, 'form')" id="formBut">表单[form-data]</button>
                        <button type="button" class="btn btn-default" onclick="selectRequestParamTab(this, 'raw')" id="rawBut">源数据[raw]</button>
                    </div>
                    <div class="table-responsive">
                        <table id="paramTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th>参数名</th>
                                <th>参数值</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for request_param in request_param_list %}
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" name="param_name" value="{{ request_param.paramName }}" placeholder="参数名">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="param_value" value="{{ request_param.paramValue }}" onkeyup="changeParamValue(this)" placeholder="参数值">
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-sm" onclick="openBindParamModal(this)">
                                            <span class="glyphicon glyphicon-link"></span> 关联
                                        </button>
                                        <button type="button" class="btn btn-default btn-sm" onclick="delParamTableTr(this)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}

                            <tr>
                                <td>
                                    <input type="text" class="form-control" name="param_name" onkeyup="changeParamValue(this)" placeholder="参数名">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="param_value" onkeyup="changeParamValue(this)" placeholder="参数值">
                                </td>
                                <td style="display: none">
                                    <button type="button" class="btn btn-default btn-sm" onclick="openBindParamModal(this)">
                                        <span class="glyphicon glyphicon-link"></span> 关联
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" onclick="delParamTableTr(this)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="rawDiv" style="display: none; margin-top: 10px;">
                        <textarea id="raw" class="form-control" rows="4" placeholder="源数据">{{ raw }}</textarea>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">测试结果校验规则</div>
                <div class="panel-body">
                    <div class="btn-group">
                        <!--校验类型[0:不校验; 1:完全校验; 2:正则校验; 3:json校验]-->
                        <input type="hidden" id="matchType" value="{{ case_item.matchType }}">
                        <button type="button" class="btn btn-success" onclick="selectMatchType(this, 0)" data-v="0">不校验</button>
                        <button type="button" class="btn btn-default" onclick="selectMatchType(this, 3)" data-v="3">Json校验</button>
                        <button type="button" class="btn btn-default" onclick="selectMatchType(this, 1)" data-v="1">完全校验</button>
                        <button type="button" class="btn btn-default" onclick="selectMatchType(this, 2)" data-v="2">正则校验</button>
                    </div>

                    <div class="form-inline" id="statusCodeDiv" style="margin-top: 10px; display: none;">
                        <input type="text" class="form-control" id="statusCode" value="{{ case_item.statusCode }}" placeholder="状态码">
                    </div>

                    <table id="jsonCheckTable" class="table table-striped" style="display: none">
                        <thead>
                        <tr>
                            <th>参数名</th>
                            <th>校验规则</th>
                            <th>校验值</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for match_rule in match_rule_list %}
                        <tr>
                            <td>
                                <input type="text" class="form-control" name="paramKey" value="{{ match_rule.paramKey }}" onkeyup="changeJsonCheckValue(this)" placeholder="参数名">
                            </td>
                            <td>
                                <select class="form-control" name="matchRule">
                                    <option value="0" {% ifequal match_rule.matchRule 0 %}selected="selected"{% endifequal %}>无</option>
                                    <option value="1" {% ifequal match_rule.matchRule 1 %}selected="selected"{% endifequal %}>等于 [ = ]</option>
                                    <option value="2" {% ifequal match_rule.matchRule 2 %}selected="selected"{% endifequal %}>不等于 [ != ]</option>
                                    <option value="3" {% ifequal match_rule.matchRule 3 %}selected="selected"{% endifequal %}>大于 [ &gt; ]</option>
                                    <option value="4" {% ifequal match_rule.matchRule 4 %}selected="selected"{% endifequal %}>小于 [ &lt; ]</option>
                                    <option value="5" {% ifequal match_rule.matchRule 5 %}selected="selected"{% endifequal %}>正则 [ Reg= ]</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="paramInfo" value="{{ match_rule.paramInfo }}" onkeyup="changeJsonCheckValue(this)" placeholder="校验值">
                            </td>
                            <td style="display: none">
                                <button type="button" class="btn btn-default btn-sm" onclick="delParamTableTr(this)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}

                        <tr>
                            <td>
                                <input type="text" class="form-control" name="paramKey" onkeyup="changeJsonCheckValue(this)" placeholder="参数名">
                            </td>
                            <td>
                                <select class="form-control" name="matchRule">
                                    <option value="0">无</option>
                                    <option value="1">等于 [ = ]</option>
                                    <option value="2">不等于 [ != ]</option>
                                    <option value="3">大于 [ &gt; ]</option>
                                    <option value="4">小于 [ &lt; ]</option>
                                    <option value="5">正则 [ Reg= ]</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="paramInfo" onkeyup="changeJsonCheckValue(this)" placeholder="校验值">
                            </td>
                            <td style="display: none">
                                <button type="button" class="btn btn-default btn-sm" onclick="delParamTableTr(this)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div id="textCheckDiv" style="display: none; margin-top: 10px;">
                        <textarea id="textCheck" class="form-control" rows="4" placeholder="校验表达式">{{ case_item.matchRule }}</textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!--模板-->
<table style="display: none">
    <tbody id="headerTrTemplate">
    <tr>
        <td>
            <div class="input-group">
                <input type="text" class="form-control" name="headerLabel" placeholder="头部标签">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                </div>
            </div>
        </td>
        <td>
            <input type="text" class="form-control" name="header_value" onkeyup="changeHeaderValue(this)"
                   placeholder="头部内容">
        </td>
        <td style="display: none">
            <button type="button" class="btn btn-default btn-sm" onclick="delParamTableTr(this)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>
<table style="display: none">
    <tbody id="paramTrTemplate">
    <tr>
        <td>
            <input type="text" class="form-control" name="param_name" onkeyup="changeParamValue(this)" placeholder="参数名">
        </td>
        <td>
            <input type="text" class="form-control" name="param_value" onkeyup="changeParamValue(this)"
                   placeholder="参数值">
        </td>
        <td style="display: none">
            <button type="button" class="btn btn-default btn-sm" onclick="openBindParamModal(this)">
                <span class="glyphicon glyphicon-link"></span> 关联
            </button>
            <button type="button" class="btn btn-default btn-sm" onclick="delParamTableTr(this)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>
<table style="display: none">
    <tbody id="jsonCheckTrTemplate">
    <tr>
        <td>
            <input type="text" class="form-control" name="paramKey" onkeyup="changeJsonCheckValue(this)" placeholder="参数名">
        </td>
        <td>
            <select class="form-control" name="matchRule">
                <option value="0">无</option>
                <option value="1">等于 [ = ]</option>
                <option value="2">不等于 [ != ]</option>
                <option value="3">大于 [ &gt; ]</option>
                <option value="4">小于 [ &lt; ]</option>
                <option value="5">正则 [ Reg= ]</option>
            </select>
        </td>
        <td>
            <input type="text" class="form-control" name="paramInfo" onkeyup="changeJsonCheckValue(this)"
                   placeholder="校验值">
        </td>
        <td style="display: none">
            <button type="button" class="btn btn-default btn-sm" onclick="delParamTableTr(this)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<!-- 绑定参数值 -->
<div class="modal fade" id="bindParamModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<script type="text/javascript">
    function openBindParamModal(dom) {
        var index = $(dom).parent().parent().index();
        $("#bindParamModal").modal({
            remote: "/bind_param/?caseId={{ caseId }}&itemId="+$('#itemId').val() + '&index='+index
        });
    }
    function to_case_detail(id) {
        window.location.href = '/case_detail/?id=' + id;
    }
    function changeMethod(dom) {
        var rawBut = $('#rawBut');
        if($(dom).val() === 'POST'){
            rawBut.show();
        }else{
            rawBut.hide();
            if(rawBut.hasClass('btn-success')){
                rawBut.siblings().click();
            }
        }
    }
    function selectRequestParamTab(dom, type) {
        $(dom).removeClass('btn-default').addClass('btn-success');
        $(dom).siblings().removeClass('btn-success').addClass('btn-default');
        if(type === 'form'){
            $('#paramTable').parent().show();
            $('#rawDiv').hide();
        }else{
            $('#paramTable').parent().hide();
            $('#rawDiv').show();
        }
    }
    //<!--校验类型[0:不校验; 1:完全校验; 2:正则校验; 3:json校验]-->
    function selectMatchType(dom, type) {
        $(dom).removeClass('btn-default').addClass('btn-success');
        $(dom).siblings().removeClass('btn-success').addClass('btn-default');
        $('#matchType').val(type);
        if(type === 0){
            $('#statusCodeDiv').hide();
            $('#jsonCheckTable').hide();
            $('#textCheckDiv').hide();
        }else if(type === 1 || type === 2){
            $('#statusCodeDiv').show();
            $('#jsonCheckTable').hide();
            $('#textCheckDiv').show();
        }else if(type === 3){
            $('#statusCodeDiv').show();
            $('#jsonCheckTable').show();
            $('#textCheckDiv').hide();
        }
    }
    function changeHeaderValue(dom) {
        var nextTr = $(dom).parent().parent().next();
        if($(dom).val() !== '' && nextTr.html() == null){
            $(dom).parent().parent().find('td:last').show();
            $(dom).parent().parent().parent().append($('#headerTrTemplate').html());

            $(dom).parent().parent().parent().find('input[name=headerLabel]').bsSuggest(headerLabelData);
        }
    }
    function changeParamValue(dom) {
        var nextTr = $(dom).parent().parent().next();
        if($(dom).val() !== '' && nextTr.html() == null){
            $(dom).parent().parent().find('td:last').show();
            $(dom).parent().parent().parent().append($('#paramTrTemplate').html());
        }
    }
    function changeJsonCheckValue(dom) {
        var nextTr = $(dom).parent().parent().next();
        if($(dom).val() !== '' && nextTr.html() == null){
            $(dom).parent().parent().find('td:last').show();
            $(dom).parent().parent().parent().append($('#jsonCheckTrTemplate').html());
        }
    }
    function changeStatusCode(dom) {
        if($(dom).val() === '0'){
            $('#customStatusCode').show();
        }else{
            $('#customStatusCode').hide();
        }
    }



    function delParamTableTr(dom) {
        $(dom).parent().parent().remove();
    }

    function showParams(dom, itemId) {
        $(dom).siblings().removeClass('active');
        $(dom).addClass('active');
        var paramListDiv = $('#paramListDiv');
        paramListDiv.find('ul').hide();
        paramListDiv.find('ul[id=params'+itemId+']').show();
    }
    function selectedParam(targetTrIndex, counter, itemId, paramKey) {
        var content = '<response[:counter].:paramKey>'.replace(':counter', counter - 1).replace(':paramKey', paramKey);
        $('#paramTable').find('tbody>tr').eq(targetTrIndex).find('input[name=param_value]').val(content);
        $("#bindParamModal").modal('hide');
    }


    function save_case_item() {
        var $form = $("#defaultForm");
        var bv = $form.data('formValidation');
        bv.validate();
        if(!bv.isValid()){
            return false;
        }

        var data = {};
        data['id'] = $('#itemId').val();
        data['caseId'] = '{{ caseId }}';
        data['apiProtocol'] = $('#protocol').val();
        data['apiMethod'] = $('#apiMethod').val();
        data['apiName'] = $('#apiName').val();
        data['apiUri'] = $('#apiUri').val();

        var headers = [];
        $('#headerTable').find('tbody tr').each(function(i,dom){
            var label = $(dom).find('input[name="headerLabel"]').val();
            var value = $(dom).find('input[name="header_value"]').val();
            if (label != null && label !== ''){
                var header = {'headerName':label, 'headerValue':value};
                headers.push(header)
            }
        });
        data['headers'] = JSON.stringify(headers);

        //请求参数
        if($('#formBut').hasClass('btn-success')){
            var params = [];
            $('#paramTable').find('tbody tr').each(function(i,dom){
                var name = $(dom).find('input[name="param_name"]').val();
                var value = $(dom).find('input[name="param_value"]').val();
                if (name != null && name !== ''){
                    var param = {'paramName':name, 'paramValue':value};
                    params.push(param)
                }
            });
            data['params'] = JSON.stringify(params);
            data['requestType'] = 'formData';
        }else{
            data['raw'] = $('#raw').val();
            data['requestType'] = 'raw';
        }

        //校验规则
        var matchType = $('#matchType').val();
        data['matchType'] = matchType;
        if(matchType === '1' || matchType === '2'){
            data['matchRule'] = $('#textCheck').val();
        }else if(matchType === '3'){
            var ruleList = [];
            $('#jsonCheckTable').find('tbody tr').each(function(i,dom){
                var paramKey = $(dom).find('input[name="paramKey"]').val();
                var r = $(dom).find('select[name="matchRule"]').val();
                var paramInfo = $(dom).find('input[name="paramInfo"]').val();
                if (paramKey != null && paramKey !== ''){
                    var matchRule = {'paramKey':paramKey, 'matchRule':parseInt(r), 'paramInfo':paramInfo};
                    ruleList.push(matchRule);
                }
            });
            data['matchRule'] = JSON.stringify(ruleList);
        }
        var statusCode = $('#statusCode').val();
        if (statusCode === '') {
            alert('请输入测试结果校验规则的状态码！');
            return false;
        }
        data['statusCode'] = statusCode;


        $.post('/save_case_item/', data, function (json) {
            if(json.code === '0000'){
                alert('保存成功');
                to_case_detail({{ caseId }});
            }else{
                alert(json.msg);
            }
        });
    }

    $(document).ready(function () {
        activeMenu('/case_list');

        $("#bindParamModal").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        });

        //初始化选中tab
        if('{{ requestType }}' === 'raw'){
            $('#rawBut').click();
        }
        $('body').find('button[data-v={{ case_item.matchType }}]').click();


        $('input[name=headerLabel]').bsSuggest(headerLabelData);

        $('#defaultForm').formValidation({
            //err: {
            //    container: 'tooltip'
            //},
            trigger: 'blur',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                apiUri: {
                    validators: {
                        notEmpty: {
                            message: '请填写此字段'
                        }
                    }
                },
                apiName: {
                    validators: {
                        notEmpty: {
                            message: '请填写此字段'
                        }
                    }
                }
            }
        });


    });

    var headerLabelData = {
            indexId: 0,
            indexKey: 0,
            //showBtn: false,
            allowNoKeyword: false,
            inputWarnColor: null,
            ignorecase: true,
            data: {
                'value': [
                    {'v': 'Accept'},
                    {'v': 'Accept-Charset'},
                    {'v': 'Accept-Encoding'},
                    {'v': 'Accept-Language'},
                    {'v': 'Accept-Ranges'},
                    {'v': 'Authorization'},
                    {'v': 'Cache-Control'},
                    {'v': 'Connection'},
                    {'v': 'Cookie'},
                    {'v': 'Content-Length'},
                    {'v': 'Content-Type'},
                    {'v': 'Content-MD5'},
                    {'v': 'Date'},
                    {'v': 'Expect'},
                    {'v': 'From'},
                    {'v': 'Host'},
                    {'v': 'If-Match'},
                    {'v': 'If-Modified-Since'},
                    {'v': 'If-None-Match'},
                    {'v': 'If-Range'},
                    {'v': 'If-Unmodified-Since'},
                    {'v': 'Max-Forwards'},
                    {'v': 'Origin'},
                    {'v': 'Pragma'},
                    {'v': 'Proxy-Authorization'},
                    {'v': 'Range'},
                    {'v': 'Referer'},
                    {'v': 'TE'},
                    {'v': 'Upgrade'},
                    {'v': 'User-Agent'},
                    {'v': 'Via'},
                    {'v': 'Warning'}
                ]
            }
        };

</script>
</body>
</html>
