<ul class="nav nav-sidebar" id="nav-sidebar">
    <li><a href="/project_info/?pid={{ request.session.pid }}">项目概述</a></li>
    <li class="active"><a href="/api_list/">接口管理</a></li>
    <li><a href="/case_list/">用例管理</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="">1</a></li>
</ul>
<script type="text/javascript">
    function activeMenu(path) {
        $('#nav-sidebar').parent().find('li a').each(function (i,dom) {
            if($(dom).attr('href').indexOf(path) !== -1) {
                $('#nav-sidebar').parent().find('li').removeClass('active');
                $(dom).parent().addClass('active');
                return false;
            }
        });
    }
</script>